/* black border around the webpage and new background color */

#webPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    margin: 100px;
    background-color: white;
    width: 800px;
    height: 800px;
    border: 1px solid aliceblue;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    border: 1px solid black;
}

.myColor {
    background-color: black;
}