/* black border around the webpage and new background color */

#webPage {
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

#gridContainer {
    display: flex;
}